# NetBeans: Ignorar configuraciones privadas del usuario
nbproject/private/
build/
nbbuild/
dist/

# Logs y temporales
*.log
nbactions.xml
nb-configuration.xml

/ConsultarRuta/target/
/MotoAmigoPublicarRepartidores/target/
/MotoAmigoPersistencia/target/
/MotoAmigoNegocio/target/
/MotoAmigoDto/target/
/MotoAmigoPresentacion/target/
/MotoAmigoSeguimientoTiempoReal/target/
/MotoAmigoPublicarRepartidores1/target/
/MotoAmigoCalculoRuta/target/
/CUPublicarRepartidores/target/
/CUBSeguimientoTiempoReal/target/
/CUBPublicarRepartidores/target/
/CUBRegistrarIncidente/target/
/CUBCalculoRuta/target/
/CUSolicitarEntrega/target/
